@media screen and (max-width: 480px) {
    body{
        background-color: red;
    }
    main{
        font-size: 80%;  
    }
    .mtitle, .ltitle{
        display: none;
    }
} 
  
@media screen and (min-width: 480px) and (max-width: 1024px){
    body{
        background-color: green 
    }
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0%;
        padding: 0%;
    }
    .stitle, .ltitle{
        display: none;
    }

    .small{
        grid-area: 1 / 1 / 2 / 2; 
    }
    .medium{
        grid-area: 1 / 2 / 2 / 3; 
    }
    .large{
        grid-area: 2 / 1 / 3 / 3; 
    }
}   

@media screen and (min-width: 1024px) {
    body{
        background-color: blue;
    }
    .main {
        font-size: 120%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;          
    }
    .stitle, .mtitle{
        display: none;
    }
    .small{
        grid-area: 1 / 1 / 2 / 2;
    }
    .medium{
        grid-area: 1 / 2 / 2 / 3;
    }
    .large{
        grid-area: 1 / 3 / 2 / 4;
    }
}

h1{
    text-align: center;
    padding: 0%;
    margin: 0%;
}

p{
    text-align: justify;
}
